<div class="container">
  <div  [hidden]="submitted">
    <h1>Register</h1>
    <form *ngIf="active" (ngSubmit)="doTest(heroForm)"  #heroForm="ngForm"   (onChange)="changelistner(heroForm)">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username"
               required
              
               [(ngModel)]="model.username" name="username"
               #username="ngModel"  >
        <div [hidden]="username.valid || username.pristine" 
             class="alert alert-danger">
          Username is required
        </div>
      </div>
       <div class="form-group">
        <label for="emailid">Email id</label>
        <input type="email" class="form-control" id="emailid"
               required
              
               [(ngModel)]="model.emailid" name="emailid"
               #emailid="ngModel" >
        <div [hidden]="emailid.valid || emailid.pristine" 
             class="alert alert-danger">
          Email id is required
        </div>
      </div>


       <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
               required
               [(ngModel)]="model.password" name="password"
               #password="ngModel" >
        <div [hidden]="password.valid || password.pristine" 
             class="alert alert-danger">
          Password is required
        </div>
      </div>


      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender"
                required
                [(ngModel)]="model.gender" name="gender" 
                #gender="ngModel" >
          <option *ngFor="let p of genders" [value]="p">{{p}}</option>
        </select>
        <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
          Gender is required
        </div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!heroForm.form.valid">Submit</button>
     
    </form>
</div>
  </div>
 

